<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SurveyServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
                <binding name="ManageServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
                <binding name="SurveyServiceSoap1"/>
                <binding name="ManageServiceSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.bedek-online.co.il/webservices/surveyservice.asmx" binding="basicHttpBinding" bindingConfiguration="SurveyServiceSoap" contract="BedekSurveyWebService.SurveyServiceSoap" name="SurveyServiceSoap"/>
            <endpoint address="http://www.bedek-online.co.il/webservices/manageservice.asmx" binding="basicHttpBinding" bindingConfiguration="ManageServiceSoap" contract="BedekManageWebService.ManageServiceSoap" name="ManageServiceSoap"/>
            <endpoint address="http://www.bedek-online.co.il/webservices/surveyservice.asmx" binding="basicHttpBinding" bindingConfiguration="SurveyServiceSoap1" contract="BedekSurveyWebService.SurveyServiceSoap" name="SurveyServiceSoap1"/>
            <endpoint address="http://www.bedek-online.co.il/webservices/manageservice.asmx" binding="basicHttpBinding" bindingConfiguration="ManageServiceSoap1" contract="BedekManageWebService.ManageServiceSoap" name="ManageServiceSoap1"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
